<div class="modules-addauthor-view">
    <div class="module-header">
      <h1>Add an author and affiliation</h1>
    </div><!-- <button ng-click="deletedata()">Delete User</button>
    <button ng-click="successAuthor()">load json User</button>
     -->
    <div class="wrapper">
      <form id="ebi" name="ebi" novalidate="">
        <div class="row mb">
          <label class="col-xs-4 control-label" for="firstName">Title</label>
          <div class="col-xs-4">
            <input class="form-control input-md" id="title" name="title" placeholder="" type="text">
          </div>
          <div class="checkbox col-xs-4">
            <label for="updatetitlecheck"><input id="updatetitlecheck" name="updatetitlecheck" type="checkbox"> Update Title</label>
          </div>
        </div>
      </form>
    </div>
    <div class="mt alert {{key}}">
      <div>
        {{msg}}
      </div>
    </div>
    <div class="row mt">
      <div class="form-group">
        <div class="col-md-8">
          <button class="btn btn-success" id="addauthor" name="button1id">Save Changes</button> <button class="btn btn-danger" id="button2id" name="button2id">Cancel</button>
        </div>
      </div>
    </div>
  </div>
