<div class="form-group">
  <div class="row mb">
  <label class="col-xs-4 control-label" for="firstName">Author first name</label>  
  <div class="col-xs-4">
  <input id="firstName" name="firstName" type="text" placeholder="Enter author's first name" class="form-control input-md" ng-model="inputObject.firstName" ng-chnage="change">
  </div>
  </div>
  <div class="row mb">
  <label class="col-xs-4 control-label" for="lastName">Author last name</label>  
  <div class="col-xs-4">
  <input id="lastName" name="lastName" type="text" placeholder="Enter author's last name" class="form-control input-md" ng-model="inputObject.lastName" ng-chnage="change">
  </div>
  </div>
</div>
